.loader {
    margin-top: 20px;
    display: flex;
    justify-content: center;  
    align-items: center; 
    transition: all 0.4s;
}

.loader div {
    margin-left: 0.6rem;
    background-color: rgb(248, 186, 16);
    border-radius: 100%;
    height: .7rem;
    width: .7rem;
}

.loader div:first-child{
    margin: 0;
}

.box-load1 {
    animation: brighten 1.2s infinite;
}

.box-load2 {
    animation: brighten 1.2s infinite;
    animation-delay: .2s;
}

.box-load3 {
    animation: brighten 1.2s infinite;
    animation-delay: .4s;
}

@keyframes brighten {
    100% {
        background-color: rgb(165, 165, 165);
        box-shadow: none;
    }
}